body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: "Helvetica";
}

nav {
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    height: 40px;
}

nav h2 {
    margin: 10px;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#sidebar {
    float: left;
    width: 240px;
    height: 100%;
    background-color: #CFCFC4;
}

#sidebar h1 {
    padding: 10px;
    margin: 0px;
}

#sidebar ul {
    padding: 0px;
}

#sidebar li {
    background-color: grey;
    padding: 4px 0px 4px 20px;
}

#people {
    float: right;
    width: 120px;
    height: 100%;
    background-color: #CFCFC4;
}

#chat {
    float: left;
    width: calc(100% - 240px);
    height: 100%;
    background-color: #fff;
}

#log {
    height: calc(100% - 93px);
}

#log ul {
    margin: 0px;
    font-size: 18px;
}

#current-channel {
    margin: 0px
}

#message-box {
    height: 50px;
}

input[type=text] {
    padding:5px;
    border:1px solid #ccc;
    -webkit-border-radius: 10px;
    height: 21px;
    width: 94%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
}

input[type=text]:focus {
    outline: none;
}