body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: "Helvetica";
}

nav {
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    height: 40px;
}

nav h2 {
    margin: 10px;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#sidebar {
    float: left;
    width: 240px;
    height: 100%;
    background-color: #32323E;
}

#sidebar h1 {
    color: white;
    padding: 10px;
    margin: 0px;
}

#sidebar ul {
    color: #8C8C9C;
}

#sidebar li.active {
    color: white;
}

ul {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    list-style-type: none;
}

li {
    padding: 4px 0px 4px 20px;
}

#people {
    float: right;
    width: 120px;
    height: 100%;
    background-color: #CFCFC4;
}

#chat {
    float: left;
    width: calc(100% - 240px);
    height: 100%;
    background-color: #fff;
}

#log {
    overflow: scroll;

    height: calc(100% - 93px);
}

#current-channel {
    margin: 0px
}

#message-box {
    height: 50px;
}

input#message-text {
    padding:5px;
    border:1px solid #ccc;
    -webkit-border-radius: 10px;
    height: 21px;
    width: 94%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
}

input[type=text]:focus {
    outline: none;
}